.title{
    text-align:center;
    font-family:'Rock Salt', cursive;
    display:flex;
    color:white;
   
    font-stretch:expanded;
    font-size:larger;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    margin-bottom:10px;
    text-shadow: 2px 2px 4px black;

    position:relative 

}
.title::after
{
    content:attr(title-name);
    position:absolute;
    top:0;
    bottom:0;
    background: linear-gradient(45deg, #ff61d2, #00ffff);
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
    filter:blur(10px);
    z-index:-1;
    left:0;
    right:0;
    margin:auto;
    width:100%;
    height:100%;


}
body{

    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    min-height:100vh;
    background-image:url('./DALL·E 2025-03-08 12.27.52 - A pitch-black background with a minimalistic, hand-sketched white city skyline at the bottom edge. Sparsely scattered, delicate white vinyl records an.webp');
    background-attachment: fixed;
}


#destination{  
    /*container for all of the cards */
    height:60vh;
    width:80vw;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:0 auto;


    gap:5%;
}

.card{ /* individual boxes */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-size:cover;
    background-position:center;

    width:40%;
    height:35vh;

    border-radius: 50px  20px;
    padding:20px;
   
    

   

    position:relative;
    overflow:visible; /* this will allow the gradient border to show up*/
    text-align:center;
    
   


}
.card::after{
    content: "";
    position: absolute;
    top: -5px; /* adjusting the thickness of the gradient borders*/
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #ff61d2, #00ffff);
    z-index: -1;
    border-radius: inherit;
}





.card h2, .card p{
    text-align:center;
    z-index:2;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */


}

.card h2{
    text-decoration:underline;
    text-decoration-color: black;
    font-size:40px;
    -webkit-text-stroke:1px rgb(0, 0, 0);
    text-decoration-thickness:3px;
    font-style:italic;

}
